.division, .divisionDos {
  width: 100%;
  padding: 10px 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

.division {
  background-color: #E04316; }

.divisionDos {
  background-color: #070707; }

.botonPrincipal {
  color: #070707 !important;
  background-color: #E04316 !important;
  transition: all 0.8s; }
  .botonPrincipal:hover {
    scale: 110%;
    background-color: #fafafa !important; }

.lineaTitulo {
  width: 10rem;
  padding: 0.2rem 0;
  background: #E04316;
  margin: 0 auto; }

.redes:hover {
  scale: 130%;
  transform: rotate(20deg); }

/* FUENTES */
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf) format("truetype"); }

a {
  font-family: "Montserrat-Bold";
  color: #fafafa !important;
  text-transform: uppercase;
  text-decoration: none; }
  a:hover {
    color: #070707 !important; }

h1 {
  font-family: "Playfair Display";
  color: #fafafa !important;
  animation-duration: 1.5s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h2 {
  font-family: "Playfair Display";
  color: #fafafa !important; }

h4 {
  font-family: "Playfair Display";
  color: #fafafa !important;
  font-style: italic;
  animation-duration: 1.5s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.showsH2 {
  font-family: "Montserrat-Bold";
  color: #070707 !important; }

.error404 {
  font-family: "Montserrat-Bold";
  color: #E04316 !important;
  font-size: 10rem;
  font-weight: 900; }

.suberror404 {
  font-family: "Montserrat-Bold";
  color: #070707 !important; }

.texterror404 {
  font-family: "Montserrat-Bold";
  color: #070707 !important; }

.subtitulo {
  font-family: "Montserrat-Bold";
  color: #070707 !important;
  font-size: 18px; }

p {
  font-family: "Montserrat-Regular";
  color: #fafafa !important; }

/* HEARDER */
header .nav {
  background-image: linear-gradient(#070707, #2c2c2c); }

.navbar-toggler {
  background-color: #E04316 !important; }

/* FOOTER */
footer {
  background-image: linear-gradient(#2c2c2c, #070707);
  height: 100px; }

/* PRIMERA SECTION: BANNER */
.bannerInicio {
  width: 100%;
  height: 100vh;
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
  .bannerInicio .textBanner {
    position: relative;
    top: 25rem; }

/* SEGUNDA SECTION: LA BANDA */
#laBanda {
  background-color: #070707; }
  #laBanda .imagenMedia img {
    border-radius: 20px; }
  #laBanda .galeriaBanda .imgBanda {
    border-radius: 20px; }

/* TERCERA SECTION: VIDEOS */
#videos {
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
  #videos .youTube {
    height: 50vh;
    border-radius: 20px !important; }

/* CUARTA SECTION: PROXIMOS SHOWS */
#shows {
  background-color: #070707; }
  #shows .proximosShows img {
    width: 100%;
    border-radius: 20px; }

/* QUINTA SECTION: CONTACTO */
#contacto {
  background-image: url(../images/portada.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.imgContacto img {
  border-radius: 20px; }

form input, form textarea {
  padding: 10px;
  width: 50vw;
  font-size: 18px;
  border: none; }

.socialMedia .icon {
  width: 40px; }

/* PAGINA LOS INTEGRANTES */
#todosLosIntegrantes {
  background-color: #070707; }
  #todosLosIntegrantes .cardColor {
    background-color: #E04316; }
