/* PRIMERA SECTION: BANNER */

.bannerInicio {
    width: 100%;
    height: 700px;
    background-image: url(../images/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    .textBanner {
        position: relative;
        top: 30rem;
        width: 50%;
    }
}
