/* QUINTA SECTION: CONTACTO */

#contacto {
    background-image: url(../images/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.imgContacto {
    img {
        border-radius: map-get($colores , radio-puntas );
    }
}