/* QUINTA SECTION: CONTACTO */
@import '../base/mapas';

#contacto {
    background-image: url(../images/portada.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.imgContacto {
    img {
        border-radius: map-get($colores , radio-puntas );
    }
}

form {
    input, textarea {
        padding: 10px;
        width: 50vw;
        font-size: 18px;
        border: none;
    }
}

.socialMedia {
    .icon {
        width: 40px;
    }
}

