 /* HEARDER */
header .nav {
    background-image: linear-gradient(#070707, #2c2c2c) ;
}
.navbar-toggler {
    background-color: map-get($colores, acento ) !important;
}

/* FOOTER */
footer {
    background-image: linear-gradient(#2c2c2c, #070707);
    height: 100px;
}